In [1]:
!head -n 10 data/installments_payments.csv

SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
1054186,161674,1.0,6,-1180.0,-1187.0,6948.36,6948.36
1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2085231,193053,2.0,1,-63.0,-63.0,25425.0,25425.0
2452527,199697,1.0,3,-2418.0,-2426.0,24350.13,24350.13
2714724,167756,1.0,2,-1383.0,-1366.0,2165.04,2160.585
1137312,164489,1.0,12,-1384.0,-1417.0,5970.375,5970.375
2234264,184693,4.0,11,-349.0,-352.0,29432.295,29432.295
1818599,111420,2.0,4,-968.0,-994.0,17862.165,17862.165
2723183,112102,0.0,14,-197.0,-197.0,70.74,70.74

In [3]:
import pandas as pd
filename = 'data/application_train.csv'
df = pd.read_csv(filename)
df.head(20)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.000,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.000,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.000,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.000,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.000,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,100008,0,Cash loans,M,N,Y,0,99000.000,490495.5,27517.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
6,100009,0,Cash loans,F,Y,Y,1,171000.000,1560726.0,41301.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
7,100010,0,Cash loans,M,Y,Y,0,360000.000,1530000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
8,100011,0,Cash loans,F,N,Y,0,112500.000,1019610.0,33826.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
9,100012,0,Revolving loans,M,N,Y,0,135000.000,405000.0,20250.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
10,100014,0,Cash loans,F,N,Y,1,112500.000,652500.0,21177.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
11,100015,0,Cash loans,F,N,Y,0,38419.155,148365.0,10678.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
12,100016,0,Cash loans,F,N,Y,0,67500.000,80865.0,5881.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
13,100017,0,Cash loans,M,Y,N,1,225000.000,918468.0,28966.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
14,100018,0,Cash loans,F,N,Y,0,189000.000,773680.5,32778.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
15,100019,0,Cash loans,M,Y,Y,0,157500.000,299772.0,20160.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
16,100020,0,Cash loans,M,N,N,0,108000.000,509602.5,26149.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
17,100021,0,Revolving loans,F,N,Y,1,81000.000,270000.0,13500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
18,100022,0,Revolving loans,F,N,Y,0,112500.000,157500.0,7875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
19,100023,0,Cash loans,F,N,Y,1,90000.000,544491.0,17563.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0

In [4]:
print(df.dtypes)

SK_ID_CURR                      int64
TARGET                          int64
NAME_CONTRACT_TYPE             object
CODE_GENDER                    object
FLAG_OWN_CAR                   object
FLAG_OWN_REALTY                object
CNT_CHILDREN                    int64
AMT_INCOME_TOTAL              float64
AMT_CREDIT                    float64
AMT_ANNUITY                   float64
AMT_GOODS_PRICE               float64
NAME_TYPE_SUITE                object
NAME_INCOME_TYPE               object
NAME_EDUCATION_TYPE            object
NAME_FAMILY_STATUS             object
NAME_HOUSING_TYPE              object
REGION_POPULATION_RELATIVE    float64
DAYS_BIRTH                      int64
DAYS_EMPLOYED                   int64
DAYS_REGISTRATION             float64
DAYS_ID_PUBLISH                 int64
OWN_CAR_AGE                   float64
FLAG_MOBIL                      int64
FLAG_EMP_PHONE                  int64
FLAG_WORK_PHONE                 int64
FLAG_CONT_MOBILE                int64
FLAG_PHONE                      int64
FLAG_EMAIL                      int64
OCCUPATION_TYPE                object
CNT_FAM_MEMBERS               float64
                               ...
DEF_30_CNT_SOCIAL_CIRCLE      float64
OBS_60_CNT_SOCIAL_CIRCLE      float64
DEF_60_CNT_SOCIAL_CIRCLE      float64
DAYS_LAST_PHONE_CHANGE        float64
FLAG_DOCUMENT_2                 int64
FLAG_DOCUMENT_3                 int64
FLAG_DOCUMENT_4                 int64
FLAG_DOCUMENT_5                 int64
FLAG_DOCUMENT_6                 int64
FLAG_DOCUMENT_7                 int64
FLAG_DOCUMENT_8                 int64
FLAG_DOCUMENT_9                 int64
FLAG_DOCUMENT_10                int64
FLAG_DOCUMENT_11                int64
FLAG_DOCUMENT_12                int64
FLAG_DOCUMENT_13                int64
FLAG_DOCUMENT_14                int64
FLAG_DOCUMENT_15                int64
FLAG_DOCUMENT_16                int64
FLAG_DOCUMENT_17                int64
FLAG_DOCUMENT_18                int64
FLAG_DOCUMENT_19                int64
FLAG_DOCUMENT_20                int64
FLAG_DOCUMENT_21                int64
AMT_REQ_CREDIT_BUREAU_HOUR    float64
AMT_REQ_CREDIT_BUREAU_DAY     float64
AMT_REQ_CREDIT_BUREAU_WEEK    float64
AMT_REQ_CREDIT_BUREAU_MON     float64
AMT_REQ_CREDIT_BUREAU_QRT     float64
AMT_REQ_CREDIT_BUREAU_YEAR    float64
Length: 122, dtype: object

In [5]:
df[['SK_ID_CURR', 'TARGET']].groupby('TARGET').count()

        SK_ID_CURR
TARGET
0           282686
1            24825

In [6]:
df[['SK_ID_CURR', 'TARGET']].groupby('TARGET').count()/df.shape[0]

        SK_ID_CURR
TARGET
0         0.919271
1         0.080729

In [13]:
filename = 'data/HomeCredit_columns_description.csv'
desc_df = pd.read_csv(filename, encoding = "ISO-8859-1")
desc_df[desc_df['Table'] == 'application_{train|test}.csv']

,Unnamed: 0,Table,Row,Description,Special
0,1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN
1,2,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...,NaN
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
3,6,application_{train|test}.csv,CODE_GENDER,Gender of the client,NaN
4,7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN
5,8,application_{train|test}.csv,FLAG_OWN_REALTY,Flag if client owns a house or flat,NaN
6,9,application_{train|test}.csv,CNT_CHILDREN,Number of children the client has,NaN
7,10,application_{train|test}.csv,AMT_INCOME_TOTAL,Income of the client,NaN
8,11,application_{train|test}.csv,AMT_CREDIT,Credit amount of the loan,NaN
9,12,application_{train|test}.csv,AMT_ANNUITY,Loan annuity,NaN
10,13,application_{train|test}.csv,AMT_GOODS_PRICE,For consumer loans it is the price of the good...,NaN
11,14,application_{train|test}.csv,NAME_TYPE_SUITE,Who was accompanying client when he was applyi...,NaN
12,15,application_{train|test}.csv,NAME_INCOME_TYPE,"Clients income type (businessman, working, mat...",NaN
13,16,application_{train|test}.csv,NAME_EDUCATION_TYPE,Level of highest education the client achieved,NaN
14,17,application_{train|test}.csv,NAME_FAMILY_STATUS,Family status of the client,NaN
15,18,application_{train|test}.csv,NAME_HOUSING_TYPE,What is the housing situation of the client (r...,NaN
16,19,application_{train|test}.csv,REGION_POPULATION_RELATIVE,Normalized population of region where client l...,normalized
17,20,application_{train|test}.csv,DAYS_BIRTH,Client's age in days at the time of application,time only relative to the application
18,21,application_{train|test}.csv,DAYS_EMPLOYED,How many days before the application the perso...,time only relative to the application
19,22,application_{train|test}.csv,DAYS_REGISTRATION,How many days before the application did clien...,time only relative to the application
20,23,application_{train|test}.csv,DAYS_ID_PUBLISH,How many days before the application did clien...,time only relative to the application
21,24,application_{train|test}.csv,OWN_CAR_AGE,Age of client's car,NaN
22,25,application_{train|test}.csv,FLAG_MOBIL,"Did client provide mobile phone (1=YES, 0=NO)",NaN
23,26,application_{train|test}.csv,FLAG_EMP_PHONE,"Did client provide work phone (1=YES, 0=NO)",NaN
24,27,application_{train|test}.csv,FLAG_WORK_PHONE,"Did client provide home phone (1=YES, 0=NO)",NaN
25,28,application_{train|test}.csv,FLAG_CONT_MOBILE,"Was mobile phone reachable (1=YES, 0=NO)",NaN
26,29,application_{train|test}.csv,FLAG_PHONE,"Did client provide home phone (1=YES, 0=NO)",NaN
27,30,application_{train|test}.csv,FLAG_EMAIL,"Did client provide email (1=YES, 0=NO)",NaN
28,31,application_{train|test}.csv,OCCUPATION_TYPE,What kind of occupation does the client have,NaN
29,32,application_{train|test}.csv,CNT_FAM_MEMBERS,How many family members does client have,NaN
...,...,...,...,...,...
92,95,application_{train|test}.csv,DEF_30_CNT_SOCIAL_CIRCLE,How many observation of client's social surrou...,NaN
93,96,application_{train|test}.csv,OBS_60_CNT_SOCIAL_CIRCLE,How many observation of client's social surrou...,NaN
94,97,application_{train|test}.csv,DEF_60_CNT_SOCIAL_CIRCLE,How many observation of client's social surrou...,NaN
95,98,application_{train|test}.csv,DAYS_LAST_PHONE_CHANGE,How many days before application did client ch...,NaN
96,99,application_{train|test}.csv,FLAG_DOCUMENT_2,Did client provide document 2,NaN
97,100,application_{train|test}.csv,FLAG_DOCUMENT_3,Did client provide document 3,NaN
98,101,application_{train|test}.csv,FLAG_DOCUMENT_4,Did client provide document 4,NaN
99,102,application_{train|test}.csv,FLAG_DOCUMENT_5,Did client provide document 5,NaN
100,103,application_{train|test}.csv,FLAG_DOCUMENT_6,Did client provide document 6,NaN
101,104,application_{train|test}.csv,FLAG_DOCUMENT_7,Did client provide document 7,NaN
102,105,application_{train|test}.csv,FLAG_DOCUMENT_8,Did client provide document 8,NaN
103,106,application_{train|test}.csv,FLAG_DOCUMENT_9,Did client provide document 9,NaN
104,107,application_{train|test}.csv,FLAG_DOCUMENT_10,Did client provide document 10,NaN
105,108,application_{train|test}.csv,FLAG_DOCUMENT_11,Did client provide document 11,NaN
106,109,application_{train|test}.csv,FLAG_DOCUMENT_12,Did client provide document 12,NaN
107,110,application_{train|test}.csv,FLAG_DOCUMENT_13,Did client provide document 13,NaN
108,111,application_{train|test}.csv,FLAG_DOCUMENT_14,Did client provide document 14,NaN
109,112,application_{train|test}.csv,FLAG_DOCUMENT_15,Did client provide document 15,NaN
110,113,application_{train|test}.csv,FLAG_DOCUMENT_16,Did client provide document 16,NaN
111,114,application_{train|test}.csv,FLAG_DOCUMENT_17,Did client provide document 17,NaN
112,115,application_{train|test}.csv,FLAG_DOCUMENT_18,Did client provide document 18,NaN
113,116,application_{train|test}.csv,FLAG_DOCUMENT_19,Did client provide document 19,NaN
114,117,application_{train|test}.csv,FLAG_DOCUMENT_20,Did client provide document 20,NaN
115,118,application_{train|test}.csv,FLAG_DOCUMENT_21,Did client provide document 21,NaN
116,119,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_HOUR,Number of enquiries to Credit Bureau about the...,NaN
117,120,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_DAY,Number of enquiries to Credit Bureau about the...,NaN
118,121,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_WEEK,Number of enquiries to Credit Bureau about the...,NaN
119,122,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_MON,Number of enquiries to Credit Bureau about the...,NaN
120,123,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_QRT,Number of enquiries to Credit Bureau about the...,NaN
121,124,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_YEAR,Number of enquiries to Credit Bureau about the...,NaN

In [8]:
def get_target_dist(df):
    rows = df.shape[0]
    target_dist_df = df[['SK_ID_CURR', 'TARGET']].groupby('TARGET').count()
    target_dist_df['PERCENT'] = target_dist_df['SK_ID_CURR']*100/rows
    return target_dist_df

In [14]:
filename = 'data/application_train.csv'
train_df = pd.read_csv(filename)
rows = train_df.shape[0]
print(f'total rows: {rows}')
print(get_target_dist(train_df))

total rows: 307511
        SK_ID_CURR    PERCENT
TARGET
0           282686  91.927118
1            24825   8.072882

In [15]:
train_df = pd.read_csv(filename, nrows=10000)
rows = train_df.shape[0]
print(f'total rows: {rows}')

total rows: 10000

In [16]:
print(get_target_dist(train_df))

        SK_ID_CURR  PERCENT
TARGET
0             9225    92.25
1              775     7.75

In [17]:
train_df = pd.read_csv(filename)
train_df = train_df.sample(n=10000)
rows = train_df.shape[0]
print(f'total rows: {rows}') 
print(get_target_dist(train_df))

total rows: 10000
        SK_ID_CURR  PERCENT
TARGET
0             9207    92.07
1              793     7.93

In [18]:
nan_cols = train_df.columns[train_df.isnull().any()]
nan_cnt = train_df[nan_cols].isnull().sum()
print(nan_cnt)

AMT_GOODS_PRICE                    7
NAME_TYPE_SUITE                   38
OWN_CAR_AGE                     6619
OCCUPATION_TYPE                 3120
EXT_SOURCE_1                    5637
EXT_SOURCE_2                      29
EXT_SOURCE_3                    1986
APARTMENTS_AVG                  5083
BASEMENTAREA_AVG                5844
YEARS_BEGINEXPLUATATION_AVG     4887
YEARS_BUILD_AVG                 6641
COMMONAREA_AVG                  6993
ELEVATORS_AVG                   5371
ENTRANCES_AVG                   5037
FLOORSMAX_AVG                   4973
FLOORSMIN_AVG                   6776
LANDAREA_AVG                    5915
LIVINGAPARTMENTS_AVG            6838
LIVINGAREA_AVG                  5024
NONLIVINGAPARTMENTS_AVG         6945
NONLIVINGAREA_AVG               5504
APARTMENTS_MODE                 5083
BASEMENTAREA_MODE               5844
YEARS_BEGINEXPLUATATION_MODE    4887
YEARS_BUILD_MODE                6641
COMMONAREA_MODE                 6993
ELEVATORS_MODE                  5371
ENTRANCES_MODE                  5037
FLOORSMAX_MODE                  4973
FLOORSMIN_MODE                  6776
                                ...
NONLIVINGAREA_MODE              5504
APARTMENTS_MEDI                 5083
BASEMENTAREA_MEDI               5844
YEARS_BEGINEXPLUATATION_MEDI    4887
YEARS_BUILD_MEDI                6641
COMMONAREA_MEDI                 6993
ELEVATORS_MEDI                  5371
ENTRANCES_MEDI                  5037
FLOORSMAX_MEDI                  4973
FLOORSMIN_MEDI                  6776
LANDAREA_MEDI                   5915
LIVINGAPARTMENTS_MEDI           6838
LIVINGAREA_MEDI                 5024
NONLIVINGAPARTMENTS_MEDI        6945
NONLIVINGAREA_MEDI              5504
FONDKAPREMONT_MODE              6836
HOUSETYPE_MODE                  5025
TOTALAREA_MODE                  4837
WALLSMATERIAL_MODE              5083
EMERGENCYSTATE_MODE             4750
OBS_30_CNT_SOCIAL_CIRCLE          45
DEF_30_CNT_SOCIAL_CIRCLE          45
OBS_60_CNT_SOCIAL_CIRCLE          45
DEF_60_CNT_SOCIAL_CIRCLE          45
AMT_REQ_CREDIT_BUREAU_HOUR      1358
AMT_REQ_CREDIT_BUREAU_DAY       1358
AMT_REQ_CREDIT_BUREAU_WEEK      1358
AMT_REQ_CREDIT_BUREAU_MON       1358
AMT_REQ_CREDIT_BUREAU_QRT       1358
AMT_REQ_CREDIT_BUREAU_YEAR      1358
Length: 64, dtype: int64

In [19]:
import numpy as np

y = []
data = []

target_col = 'TARGET'
features = list([x for x in train_df.columns if x != target_col])

for row in train_df.to_dict('records'):
    y.append(row[target_col])
    data.append({k: row[k] for k in features})
    
y = np.array(y)

In [21]:
from sklearn.model_selection import train_test_split

data_train, data_val, y_train, y_val = train_test_split(data, y, train_size=0.8, stratify=y)
print(f'data_train cnt: {len(data_train)}')
print(f'data_val cnt: {len(data_val)}')

data_train cnt: 8000
data_val cnt: 2000

/Users/churanchen/Coding/home-credit-kaggle/wcd_venv/lib/python3.6/site-packages/sklearn/model_selection/_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [22]:
from collections import defaultdict

def get_y_dist(y):
    target2cnt = defaultdict(int)
    for yi in y:
        target2cnt[yi] += 1
    
    print('target\tcnt\tratio')
    for target in sorted(target2cnt):
        cnt = target2cnt[target]
        print(f'{target}\t{cnt}\t{cnt/len(y)}')

In [23]:
print('target distribution in training data')
get_y_dist(y_train)

print('\ntarget distribution in validation data')
get_y_dist(y_val)

target distribution in training data
target	cnt	ratio
0	7366	0.92075
1	634	0.07925

target distribution in validation data
target	cnt	ratio
0	1841	0.9205
1	159	0.0795

In [24]:
from sklearn.feature_extraction import DictVectorizer

vectorizer = DictVectorizer()
X_train = vectorizer.fit_transform(data_train)
print(f'after vectorization: {X_train.shape}')

after vectorization: (8000, 244)

In [25]:
for i, feature in enumerate(vectorizer.feature_names_):
    print(f'{i}\t{feature}')

0	AMT_ANNUITY
1	AMT_CREDIT
2	AMT_GOODS_PRICE
3	AMT_INCOME_TOTAL
4	AMT_REQ_CREDIT_BUREAU_DAY
5	AMT_REQ_CREDIT_BUREAU_HOUR
6	AMT_REQ_CREDIT_BUREAU_MON
7	AMT_REQ_CREDIT_BUREAU_QRT
8	AMT_REQ_CREDIT_BUREAU_WEEK
9	AMT_REQ_CREDIT_BUREAU_YEAR
10	APARTMENTS_AVG
11	APARTMENTS_MEDI
12	APARTMENTS_MODE
13	BASEMENTAREA_AVG
14	BASEMENTAREA_MEDI
15	BASEMENTAREA_MODE
16	CNT_CHILDREN
17	CNT_FAM_MEMBERS
18	CODE_GENDER=F
19	CODE_GENDER=M
20	COMMONAREA_AVG
21	COMMONAREA_MEDI
22	COMMONAREA_MODE
23	DAYS_BIRTH
24	DAYS_EMPLOYED
25	DAYS_ID_PUBLISH
26	DAYS_LAST_PHONE_CHANGE
27	DAYS_REGISTRATION
28	DEF_30_CNT_SOCIAL_CIRCLE
29	DEF_60_CNT_SOCIAL_CIRCLE
30	ELEVATORS_AVG
31	ELEVATORS_MEDI
32	ELEVATORS_MODE
33	EMERGENCYSTATE_MODE
34	EMERGENCYSTATE_MODE=No
35	EMERGENCYSTATE_MODE=Yes
36	ENTRANCES_AVG
37	ENTRANCES_MEDI
38	ENTRANCES_MODE
39	EXT_SOURCE_1
40	EXT_SOURCE_2
41	EXT_SOURCE_3
42	FLAG_CONT_MOBILE
43	FLAG_DOCUMENT_10
44	FLAG_DOCUMENT_11
45	FLAG_DOCUMENT_12
46	FLAG_DOCUMENT_13
47	FLAG_DOCUMENT_14
48	FLAG_DOCUMENT_15
49	FLAG_DOCUMENT_16
50	FLAG_DOCUMENT_17
51	FLAG_DOCUMENT_18
52	FLAG_DOCUMENT_19
53	FLAG_DOCUMENT_2
54	FLAG_DOCUMENT_20
55	FLAG_DOCUMENT_21
56	FLAG_DOCUMENT_3
57	FLAG_DOCUMENT_4
58	FLAG_DOCUMENT_5
59	FLAG_DOCUMENT_6
60	FLAG_DOCUMENT_7
61	FLAG_DOCUMENT_8
62	FLAG_DOCUMENT_9
63	FLAG_EMAIL
64	FLAG_EMP_PHONE
65	FLAG_MOBIL
66	FLAG_OWN_CAR=N
67	FLAG_OWN_CAR=Y
68	FLAG_OWN_REALTY=N
69	FLAG_OWN_REALTY=Y
70	FLAG_PHONE
71	FLAG_WORK_PHONE
72	FLOORSMAX_AVG
73	FLOORSMAX_MEDI
74	FLOORSMAX_MODE
75	FLOORSMIN_AVG
76	FLOORSMIN_MEDI
77	FLOORSMIN_MODE
78	FONDKAPREMONT_MODE
79	FONDKAPREMONT_MODE=not specified
80	FONDKAPREMONT_MODE=org spec account
81	FONDKAPREMONT_MODE=reg oper account
82	FONDKAPREMONT_MODE=reg oper spec account
83	HOUR_APPR_PROCESS_START
84	HOUSETYPE_MODE
85	HOUSETYPE_MODE=block of flats
86	HOUSETYPE_MODE=specific housing
87	HOUSETYPE_MODE=terraced house
88	LANDAREA_AVG
89	LANDAREA_MEDI
90	LANDAREA_MODE
91	LIVE_CITY_NOT_WORK_CITY
92	LIVE_REGION_NOT_WORK_REGION
93	LIVINGAPARTMENTS_AVG
94	LIVINGAPARTMENTS_MEDI
95	LIVINGAPARTMENTS_MODE
96	LIVINGAREA_AVG
97	LIVINGAREA_MEDI
98	LIVINGAREA_MODE
99	NAME_CONTRACT_TYPE=Cash loans
100	NAME_CONTRACT_TYPE=Revolving loans
101	NAME_EDUCATION_TYPE=Academic degree
102	NAME_EDUCATION_TYPE=Higher education
103	NAME_EDUCATION_TYPE=Incomplete higher
104	NAME_EDUCATION_TYPE=Lower secondary
105	NAME_EDUCATION_TYPE=Secondary / secondary special
106	NAME_FAMILY_STATUS=Civil marriage
107	NAME_FAMILY_STATUS=Married
108	NAME_FAMILY_STATUS=Separated
109	NAME_FAMILY_STATUS=Single / not married
110	NAME_FAMILY_STATUS=Widow
111	NAME_HOUSING_TYPE=Co-op apartment
112	NAME_HOUSING_TYPE=House / apartment
113	NAME_HOUSING_TYPE=Municipal apartment
114	NAME_HOUSING_TYPE=Office apartment
115	NAME_HOUSING_TYPE=Rented apartment
116	NAME_HOUSING_TYPE=With parents
117	NAME_INCOME_TYPE=Commercial associate
118	NAME_INCOME_TYPE=Pensioner
119	NAME_INCOME_TYPE=State servant
120	NAME_INCOME_TYPE=Unemployed
121	NAME_INCOME_TYPE=Working
122	NAME_TYPE_SUITE
123	NAME_TYPE_SUITE=Children
124	NAME_TYPE_SUITE=Family
125	NAME_TYPE_SUITE=Group of people
126	NAME_TYPE_SUITE=Other_A
127	NAME_TYPE_SUITE=Other_B
128	NAME_TYPE_SUITE=Spouse, partner
129	NAME_TYPE_SUITE=Unaccompanied
130	NONLIVINGAPARTMENTS_AVG
131	NONLIVINGAPARTMENTS_MEDI
132	NONLIVINGAPARTMENTS_MODE
133	NONLIVINGAREA_AVG
134	NONLIVINGAREA_MEDI
135	NONLIVINGAREA_MODE
136	OBS_30_CNT_SOCIAL_CIRCLE
137	OBS_60_CNT_SOCIAL_CIRCLE
138	OCCUPATION_TYPE
139	OCCUPATION_TYPE=Accountants
140	OCCUPATION_TYPE=Cleaning staff
141	OCCUPATION_TYPE=Cooking staff
142	OCCUPATION_TYPE=Core staff
143	OCCUPATION_TYPE=Drivers
144	OCCUPATION_TYPE=HR staff
145	OCCUPATION_TYPE=High skill tech staff
146	OCCUPATION_TYPE=IT staff
147	OCCUPATION_TYPE=Laborers
148	OCCUPATION_TYPE=Low-skill Laborers
149	OCCUPATION_TYPE=Managers
150	OCCUPATION_TYPE=Medicine staff
151	OCCUPATION_TYPE=Private service staff
152	OCCUPATION_TYPE=Realty agents
153	OCCUPATION_TYPE=Sales staff
154	OCCUPATION_TYPE=Secretaries
155	OCCUPATION_TYPE=Security staff
156	OCCUPATION_TYPE=Waiters/barmen staff
157	ORGANIZATION_TYPE=Advertising
158	ORGANIZATION_TYPE=Agriculture
159	ORGANIZATION_TYPE=Bank
160	ORGANIZATION_TYPE=Business Entity Type 1
161	ORGANIZATION_TYPE=Business Entity Type 2
162	ORGANIZATION_TYPE=Business Entity Type 3
163	ORGANIZATION_TYPE=Cleaning
164	ORGANIZATION_TYPE=Construction
165	ORGANIZATION_TYPE=Culture
166	ORGANIZATION_TYPE=Electricity
167	ORGANIZATION_TYPE=Emergency
168	ORGANIZATION_TYPE=Government
169	ORGANIZATION_TYPE=Hotel
170	ORGANIZATION_TYPE=Housing
171	ORGANIZATION_TYPE=Industry: type 1
172	ORGANIZATION_TYPE=Industry: type 11
173	ORGANIZATION_TYPE=Industry: type 12
174	ORGANIZATION_TYPE=Industry: type 13
175	ORGANIZATION_TYPE=Industry: type 2
176	ORGANIZATION_TYPE=Industry: type 3
177	ORGANIZATION_TYPE=Industry: type 4
178	ORGANIZATION_TYPE=Industry: type 5
179	ORGANIZATION_TYPE=Industry: type 6
180	ORGANIZATION_TYPE=Industry: type 7
181	ORGANIZATION_TYPE=Industry: type 9
182	ORGANIZATION_TYPE=Insurance
183	ORGANIZATION_TYPE=Kindergarten
184	ORGANIZATION_TYPE=Legal Services
185	ORGANIZATION_TYPE=Medicine
186	ORGANIZATION_TYPE=Military
187	ORGANIZATION_TYPE=Mobile
188	ORGANIZATION_TYPE=Other
189	ORGANIZATION_TYPE=Police
190	ORGANIZATION_TYPE=Postal
191	ORGANIZATION_TYPE=Realtor
192	ORGANIZATION_TYPE=Religion
193	ORGANIZATION_TYPE=Restaurant
194	ORGANIZATION_TYPE=School
195	ORGANIZATION_TYPE=Security
196	ORGANIZATION_TYPE=Security Ministries
197	ORGANIZATION_TYPE=Self-employed
198	ORGANIZATION_TYPE=Services
199	ORGANIZATION_TYPE=Telecom
200	ORGANIZATION_TYPE=Trade: type 1
201	ORGANIZATION_TYPE=Trade: type 2
202	ORGANIZATION_TYPE=Trade: type 3
203	ORGANIZATION_TYPE=Trade: type 4
204	ORGANIZATION_TYPE=Trade: type 5
205	ORGANIZATION_TYPE=Trade: type 6
206	ORGANIZATION_TYPE=Trade: type 7
207	ORGANIZATION_TYPE=Transport: type 1
208	ORGANIZATION_TYPE=Transport: type 2
209	ORGANIZATION_TYPE=Transport: type 3
210	ORGANIZATION_TYPE=Transport: type 4
211	ORGANIZATION_TYPE=University
212	ORGANIZATION_TYPE=XNA
213	OWN_CAR_AGE
214	REGION_POPULATION_RELATIVE
215	REGION_RATING_CLIENT
216	REGION_RATING_CLIENT_W_CITY
217	REG_CITY_NOT_LIVE_CITY
218	REG_CITY_NOT_WORK_CITY
219	REG_REGION_NOT_LIVE_REGION
220	REG_REGION_NOT_WORK_REGION
221	SK_ID_CURR
222	TOTALAREA_MODE
223	WALLSMATERIAL_MODE
224	WALLSMATERIAL_MODE=Block
225	WALLSMATERIAL_MODE=Mixed
226	WALLSMATERIAL_MODE=Monolithic
227	WALLSMATERIAL_MODE=Others
228	WALLSMATERIAL_MODE=Panel
229	WALLSMATERIAL_MODE=Stone, brick
230	WALLSMATERIAL_MODE=Wooden
231	WEEKDAY_APPR_PROCESS_START=FRIDAY
232	WEEKDAY_APPR_PROCESS_START=MONDAY
233	WEEKDAY_APPR_PROCESS_START=SATURDAY
234	WEEKDAY_APPR_PROCESS_START=SUNDAY
235	WEEKDAY_APPR_PROCESS_START=THURSDAY
236	WEEKDAY_APPR_PROCESS_START=TUESDAY
237	WEEKDAY_APPR_PROCESS_START=WEDNESDAY
238	YEARS_BEGINEXPLUATATION_AVG
239	YEARS_BEGINEXPLUATATION_MEDI
240	YEARS_BEGINEXPLUATATION_MODE
241	YEARS_BUILD_AVG
242	YEARS_BUILD_MEDI
243	YEARS_BUILD_MODE

In [26]:
from sklearn.preprocessing import Imputer
from sklearn.preprocessing import MaxAbsScaler

imputer = Imputer(strategy='mean')
X_train = imputer.fit_transform(X_train)

scaler = MaxAbsScaler()
X_train = scaler.fit_transform(X_train.toarray())
print(f'X_train data type: {type(X_train)}')
print(f'X_train: {X_train.shape})')

X_train data type: <class 'numpy.ndarray'>
X_train: (8000, 244))

In [27]:
X_val = vectorizer.transform(data_val)
X_val = imputer.transform(X_val)
X_val = scaler.transform(X_val)
print(f'X_val data type: {type(X_val)}')
print(f'X_val: {X_val.shape})')

X_val data type: <class 'scipy.sparse.csc.csc_matrix'>
X_val: (2000, 244))

In [28]:
# Model Training
from sklearn.linear_model import LogisticRegression
import time

model = LogisticRegression(class_weight='balanced')

start = time.time()
print(f'Fitting model on {X_train.shape[0]} samples...')
model.fit(X_train, y_train)

end = time.time()
print('Finished model training in %.3f seconds.' % (end-start))

Fitting model on 8000 samples...
Finished model training in 0.521 seconds.

In [29]:
def get_sample_weights(y):
    weights = []
    for yi in y:
        weights.append(10 if yi else 1)
    return np.array(weights)

from sklearn.linear_model import LogisticRegression
import time

model = LogisticRegression()

start = time.time()
print(f'Fitting model on {X_train.shape[0]} samples...')
model.fit(X_train, y_train, sample_weight=get_sample_weights(y_train))

end = time.time()
print('Finished model training in %.3f seconds.' % (end-start))

Fitting model on 8000 samples...
Finished model training in 0.627 seconds.

In [30]:
y_preds = model.predict(X_val)

In [31]:
for i, y_pred in enumerate(y_preds):
    y_true = y_val[i]
    print(f'i\ty_pred: {y_pred}, y_true: {y_true}')

i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 1
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 1
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 1
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 1
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 1
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 1
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 1
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 1
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0

i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 1
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 1
i	y_pred: 0, y_true: 0
i	y_pred: 0, y_true: 0
i	y_pred: 1, y_true: 0
i	y_pred: 1, y_true: 0

In [32]:
from sklearn.metrics import classification_report

print(classification_report(y_true=y_val, y_pred=y_preds, labels=[0, 1], target_names=['NO', 'YES']))

             precision    recall  f1-score   support

         NO       0.96      0.75      0.84      1841
        YES       0.17      0.60      0.26       159

avg / total       0.89      0.73      0.79      2000

In [33]:
def evaluate(X_val, y_val):
    from sklearn.metrics import roc_curve, roc_auc_score, auc
    pos_idx = list(model.classes_).index(1)

    print(X_val.shape, model.predict_proba(X_val).shape, pos_idx)
    y_score = model.predict_proba(X_val)[:,pos_idx]
    print(y_score.shape)
    fpr, tpr, _ = roc_curve(y_val, y_score, pos_label=1)
    roc_auc = roc_auc_score(y_val, y_score)
    
    return roc_auc, fpr, tpr

In [34]:
print(X_val.shape)
print(y_val.shape)
roc_auc, fpr, tpr = evaluate(X_val, y_val)

(2000, 244)
(2000,)
(2000, 244) (2000, 2) 1
(2000,)

In [35]:
import matplotlib.pyplot as plt
lw = 2
plt.plot(fpr, tpr, color='darkorange',
         lw=lw, label='ROC curve (area = %0.2f)' % roc_auc)
plt.plot([0, 1], [0, 1], color='navy', lw=lw, linestyle='--')
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('Receiver operating characteristic example')
plt.legend(loc="lower right")

In [38]:
prev_app_filename = 'data/previous_application.csv'
prev_app_df = pd.read_csv(prev_app_filename)
prev_app_df.head(20)

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN
5,1383531,199383,Cash loans,23703.930,315000.0,340573.5,NaN,315000.0,SATURDAY,8,...,XNA,18.0,low_normal,Cash X-Sell: low,365243.0,-654.0,-144.0,-144.0,-137.0,1.0
6,2315218,175704,Cash loans,NaN,0.0,0.0,NaN,NaN,TUESDAY,11,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
7,1656711,296299,Cash loans,NaN,0.0,0.0,NaN,NaN,MONDAY,7,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
8,2367563,342292,Cash loans,NaN,0.0,0.0,NaN,NaN,MONDAY,15,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
9,2579447,334349,Cash loans,NaN,0.0,0.0,NaN,NaN,SATURDAY,15,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
10,1715995,447712,Cash loans,11368.620,270000.0,335754.0,NaN,270000.0,FRIDAY,7,...,XNA,54.0,low_normal,Cash X-Sell: low,365243.0,-705.0,885.0,-345.0,-334.0,1.0
11,2257824,161140,Cash loans,13832.775,211500.0,246397.5,NaN,211500.0,FRIDAY,10,...,XNA,30.0,middle,Cash X-Sell: middle,365243.0,-785.0,85.0,-725.0,-721.0,1.0
12,2330894,258628,Cash loans,12165.210,148500.0,174361.5,NaN,148500.0,TUESDAY,15,...,XNA,24.0,high,Cash X-Sell: high,365243.0,-830.0,-140.0,-200.0,-197.0,1.0
13,1397919,321676,Consumer loans,7654.860,53779.5,57564.0,0.0,53779.5,SUNDAY,15,...,Consumer electronics,8.0,low_action,POS household without interest,365243.0,-378.0,-168.0,-168.0,-163.0,1.0
14,2273188,270658,Consumer loans,9644.220,26550.0,27252.0,0.0,26550.0,SATURDAY,10,...,Consumer electronics,3.0,middle,POS household with interest,365243.0,-693.0,-633.0,-633.0,-627.0,0.0
15,1232483,151612,Consumer loans,21307.455,126490.5,119853.0,12649.5,126490.5,TUESDAY,7,...,Industry,6.0,low_normal,POS other with interest,365243.0,-668.0,-518.0,-518.0,-512.0,0.0
16,2163253,154602,Consumer loans,4187.340,26955.0,27297.0,1350.0,26955.0,SATURDAY,12,...,Consumer electronics,8.0,high,POS household with interest,365243.0,-1440.0,-1230.0,-1230.0,-1226.0,0.0
17,1285768,142748,Revolving loans,9000.000,180000.0,180000.0,NaN,180000.0,FRIDAY,13,...,XNA,0.0,XNA,Card X-Sell,-277.0,-257.0,365243.0,365243.0,365243.0,0.0
18,2393109,396305,Cash loans,10181.700,180000.0,180000.0,NaN,180000.0,THURSDAY,14,...,XNA,24.0,low_normal,Cash X-Sell: low,NaN,NaN,NaN,NaN,NaN,NaN
19,1173070,199178,Cash loans,4666.500,45000.0,49455.0,NaN,45000.0,SATURDAY,16,...,XNA,18.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
filename = 'data/HomeCredit_columns_description.csv'
desc_df = pd.read_csv(filename, encoding = "ISO-8859-1")
desc_df[desc_df['Table'] == 'previous_application.csv']

,Unnamed: 0,Table,Row,Description,Special
173,176,previous_application.csv,SK_ID_PREV,ID of previous credit in Home credit related t...,hashed
174,177,previous_application.csv,SK_ID_CURR,ID of loan in our sample,hashed
175,178,previous_application.csv,NAME_CONTRACT_TYPE,"Contract product type (Cash loan, consumer loa...",NaN
176,179,previous_application.csv,AMT_ANNUITY,Annuity of previous application,NaN
177,180,previous_application.csv,AMT_APPLICATION,For how much credit did client ask on the prev...,NaN
178,181,previous_application.csv,AMT_CREDIT,Final credit amount on the previous applicatio...,NaN
179,182,previous_application.csv,AMT_DOWN_PAYMENT,Down payment on the previous application,NaN
180,183,previous_application.csv,AMT_GOODS_PRICE,Goods price of good that client asked for (if ...,NaN
181,184,previous_application.csv,WEEKDAY_APPR_PROCESS_START,On which day of the week did the client apply ...,NaN
182,185,previous_application.csv,HOUR_APPR_PROCESS_START,Approximately at what day hour did the client ...,rounded
183,186,previous_application.csv,FLAG_LAST_APPL_PER_CONTRACT,Flag if it was last application for the previo...,NaN
184,187,previous_application.csv,NFLAG_LAST_APPL_IN_DAY,Flag if the application was the last applicati...,NaN
185,188,previous_application.csv,NFLAG_MICRO_CASH,Flag Micro finance loan,NaN
186,189,previous_application.csv,RATE_DOWN_PAYMENT,Down payment rate normalized on previous credit,normalized
187,190,previous_application.csv,RATE_INTEREST_PRIMARY,Interest rate normalized on previous credit,normalized
188,191,previous_application.csv,RATE_INTEREST_PRIVILEGED,Interest rate normalized on previous credit,normalized
189,192,previous_application.csv,NAME_CASH_LOAN_PURPOSE,Purpose of the cash loan,NaN
190,193,previous_application.csv,NAME_CONTRACT_STATUS,"Contract status (approved, cancelled, ...) of ...",NaN
191,194,previous_application.csv,DAYS_DECISION,Relative to current application when was the d...,time only relative to the application
192,195,previous_application.csv,NAME_PAYMENT_TYPE,Payment method that client chose to pay for th...,NaN
193,196,previous_application.csv,CODE_REJECT_REASON,Why was the previous application rejected,NaN
194,197,previous_application.csv,NAME_TYPE_SUITE,Who accompanied client when applying for the p...,NaN
195,198,previous_application.csv,NAME_CLIENT_TYPE,Was the client old or new client when applying...,NaN
196,199,previous_application.csv,NAME_GOODS_CATEGORY,What kind of goods did the client apply for in...,NaN
197,200,previous_application.csv,NAME_PORTFOLIO,"Was the previous application for CASH, POS, CA...",NaN
198,201,previous_application.csv,NAME_PRODUCT_TYPE,Was the previous application x-sell o walk-in,NaN
199,202,previous_application.csv,CHANNEL_TYPE,Through which channel we acquired the client o...,NaN
200,203,previous_application.csv,SELLERPLACE_AREA,Selling area of seller place of the previous a...,NaN
201,204,previous_application.csv,NAME_SELLER_INDUSTRY,The industry of the seller,NaN
202,205,previous_application.csv,CNT_PAYMENT,Term of previous credit at application of the ...,NaN
203,206,previous_application.csv,NAME_YIELD_GROUP,Grouped interest rate into small medium and hi...,grouped
204,207,previous_application.csv,PRODUCT_COMBINATION,Detailed product combination of the previous a...,NaN
205,208,previous_application.csv,DAYS_FIRST_DRAWING,Relative to application date of current applic...,time only relative to the application
206,209,previous_application.csv,DAYS_FIRST_DUE,Relative to application date of current applic...,time only relative to the application
207,210,previous_application.csv,DAYS_LAST_DUE_1ST_VERSION,Relative to application date of current applic...,time only relative to the application
208,211,previous_application.csv,DAYS_LAST_DUE,Relative to application date of current applic...,time only relative to the application
209,212,previous_application.csv,DAYS_TERMINATION,Relative to application date of current applic...,time only relative to the application
210,213,previous_application.csv,NFLAG_INSURED_ON_APPROVAL,Did the client requested insurance during the ...,NaN

In [41]:
prev_agg = prev_app_df.groupby('SK_ID_CURR')
prev_df = prev_agg.agg({'SK_ID_PREV': 'count', 'AMT_ANNUITY': 'sum'}).rename(columns={
    'SK_ID_PREV': 'PREV_APPS', 'AMT_ANNUITY': 'PREV_AMT_ANNUITY'})

In [42]:
prev_df.head(20)

            PREV_APPS  PREV_AMT_ANNUITY
SK_ID_CURR
100001              1          3951.000
100002              1          9251.775
100003              3        169661.970
100004              1          5357.250
100005              2          4813.200
100006              9        141907.050
100007              6         73672.830
100008              5         63358.785
100009              7         70359.885
100010              1         27463.410
100011              4         54909.585
100012              4         23682.465
100013              4         34434.585
100014              2         25613.100
100015              1          7666.920
100016              4         34372.620
100017              2         28750.815
100018              4        154678.815
100019              1         10518.615
100020              2         14509.035

In [44]:
curr_prev_df = train_df.fillna(value=train_df.mean()).join(prev_df, on='SK_ID_CURR', how='left')
curr_prev_df[['PREV_APPS', 'PREV_AMT_ANNUITY']] = curr_prev_df[['PREV_APPS', 'PREV_AMT_ANNUITY']].fillna(value=0)
print(curr_prev_df.shape[0])
curr_prev_df

10000

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,PREV_APPS,PREV_AMT_ANNUITY
223674,359072,0,Cash loans,F,N,Y,0,54000.0,112500.0,4765.5,...,0,0,0.007174,0.006364,0.032631,0.267646,0.260819,1.906387,2.0,6983.730
297040,444140,0,Cash loans,F,N,N,0,166500.0,450000.0,16965.0,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,13280.625
263861,405519,0,Cash loans,F,N,Y,1,122400.0,545040.0,20677.5,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,16040.925
203732,336191,0,Cash loans,F,Y,Y,0,675000.0,722394.0,19183.5,...,0,0,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,6.0,58086.045
70375,181638,0,Cash loans,F,N,N,0,153000.0,270000.0,10309.5,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.0,6976.620
276534,420462,0,Cash loans,F,N,Y,2,108000.0,253737.0,27454.5,...,0,0,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000,4.0,30311.100
30042,134875,0,Cash loans,F,N,Y,0,112500.0,1312110.0,55723.5,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.0,8119.305
229967,366362,0,Cash loans,F,N,Y,0,36000.0,54000.0,5859.0,...,0,0,0.007174,0.006364,0.032631,0.267646,0.260819,1.906387,2.0,9328.140
15375,117945,1,Cash loans,F,N,Y,0,112500.0,840951.0,33480.0,...,0,0,0.007174,0.006364,0.032631,0.267646,0.260819,1.906387,4.0,56738.160
239325,377170,0,Revolving loans,F,Y,Y,2,135000.0,450000.0,22500.0,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,4.0,31542.885
19286,122500,0,Cash loans,M,N,Y,0,130500.0,1075500.0,29704.5,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000
143334,266207,0,Cash loans,M,Y,Y,0,126000.0,481320.0,13365.0,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,5563.215
15182,117727,1,Cash loans,F,Y,Y,0,112500.0,521280.0,35392.5,...,0,0,0.007174,0.006364,0.032631,0.267646,0.260819,1.906387,5.0,32381.415
106198,223216,0,Cash loans,F,N,N,1,72000.0,852088.5,38632.5,...,0,0,0.007174,0.006364,0.032631,0.267646,0.260819,1.906387,12.0,51043.815
303365,451480,0,Cash loans,M,N,Y,0,157500.0,254700.0,24939.0,...,0,0,0.007174,0.006364,0.032631,0.267646,0.260819,1.906387,4.0,68020.110
90879,205514,1,Revolving loans,F,N,N,0,121500.0,180000.0,9000.0,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000
216536,350903,0,Cash loans,F,Y,Y,0,99000.0,1056447.0,31018.5,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,19.0,453038.490
45292,152463,0,Cash loans,F,N,N,1,148500.0,1190340.0,66465.0,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.0,64941.165
16761,119547,0,Cash loans,F,N,Y,1,126000.0,582768.0,46174.5,...,0,0,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,3.0,31501.710
84566,198109,0,Cash loans,F,N,N,1,180000.0,808650.0,24732.0,...,0,0,0.007174,0.006364,0.032631,0.267646,0.260819,1.906387,7.0,40111.200
85660,199402,0,Cash loans,M,N,N,0,225000.0,1093068.0,32089.5,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2.0,22422.465
205541,338255,0,Revolving loans,F,N,Y,0,135000.0,180000.0,9000.0,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,36158.310
119426,238491,0,Cash loans,F,N,Y,1,126000.0,107820.0,8190.0,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.0,10840.500
32142,137267,0,Cash loans,M,N,N,0,58500.0,67500.0,7087.5,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,9.0,94856.130
289462,435348,0,Revolving loans,M,Y,N,3,171000.0,495000.0,24750.0,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,7.0,37657.440
178308,306621,0,Cash loans,F,Y,N,1,202500.0,315000.0,14683.5,...,0,0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.0,11681.325
301646,449454,0,Cash loans,F,Y,Y,0,135000.0,312768.0,16096.5,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2.0,3546.135
138151,260211,0,Cash loans,F,Y,Y,0,225000.0,500211.0,27931.5,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,11995.425
201706,333818,0,Cash loans,F,N,Y,0,99000.0,755190.0,33394.5,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000
300041,447593,0,Cash loans,F,N,Y,0,135000.0,1152000.0,31680.0,...,0,0,0.007174,0.006364,0.032631,0.267646,0.260819,1.906387,0.0,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131453,252459,0,Cash loans,M,Y,N,0,135000.0,1078200.0,31653.0,...,0,0,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,1.0,25979.085
263989,405703,0,Cash loans,M,Y,Y,0,225000.0,545040.0,35617.5,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.0,12304.575
18994,122151,1,Cash loans,M,N,N,0,81000.0,545040.0,16654.5,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000
235284,372537,0,Cash loans,F,N,N,2,180000.0,1575000.0,43443.0,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,8551.530
141766,264374,0,Cash loans,F,N,Y,0,52200.0,700830.0,20619.0,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,3.0,12755.610
73991,185802,0,Cash loans,F,N,Y,0,135000.0,472500.0,13815.0,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,3.0,70212.825
794,100908,0,Cash loans,F,N,Y,0,225000.0,781920.0,28215.0,...,0,0,0.000000,0.000000,0.000000,0.000000,1.000000,4.000000,8.0,218297.475
51124,159198,0,Cash loans,F,Y,Y,0,81000.0,314100.0,13963.5,...,0,0,0.007174,0.006364,0.032631,0.267646,0.260819,1.906387,1.0,13801.410
197544,329035,1,Cash loans,M,Y,Y,0,135000.0,640080.0,31261.5,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,4.0,91149.705
249989,389246,0,Cash loans,F,N,Y,2,270000.0,1886850.0,52015.5,...,0,0,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,1.0,7414.470
168803,295660,0,Cash loans,F,N,N,0,76500.0,437818.5,25263.0,...,0,0,0.007174,0.006364,0.032631,0.267646,0.260819,1.906387,2.0,6275.205
43741,150638,0,Cash loans,F,N,N,2,67500.0,607500.0,16155.0,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000
71314,182705,0,Cash loans,M,Y,N,0,135000.0,284400.0,16326.0,...,0,0,0.007174,0.006364,0.032631,0.267646,0.260819,1.906387,3.0,61057.890
140758,263207,0,Cash loans,F,N,Y,0,247500.0,388066.5,30789.0,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,4.0,39008.745
133990,255399,0,Revolving loans,F,N,Y,0,112500.0,180000.0,9000.0,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0,16871.085
276783,420754,1,Cash loans,M,N,Y,0,202500.0,490495.5,47911.5,...,0,0,0.007174,0.006364,0.032631,0.267646,0.260819,1.906387,1.0,36589.635
279489,423807,0,Cash loans,M,Y,Y,0,157500.0,414792.0,21307.5,...,0,0,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,7.0,61965.000
173608,301187,0,Cash loans,F,N,N,1,427500.0,450000.0,47254.5,...,0,0,0.007174,0.006364,0.032631,0.267646,0.260819,1.906387,1.0,3899.025
276285,420144,0,Cash loans,F,N,Y,1,121500.0,327024.0,11875.5,...,0,0,0.000000,0.000000,0.000000,0.000000,1.000000,5.000000,3.0,5823.765
45739,152988,0,Cash loans,F,N,Y,0,216000.0,942300.0,30528.0,...,0,0,0.000000,0.000000,0.000000,2.000000,0.000000,1.000000,2.0,3622.635
7471,108712,0,Cash loans,F,N,N,0,180000.0,381528.0,20263.5,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,5.0,29148.660
191489,322036,0,Cash loans,F,N,Y,0,100350.0,339241.5,12312.0,...,0,0,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000,6.0,70508.160
167288,293924,0,Cash loans,F,Y,Y,0,166500.0,521280.0,31630.5,...,0,0,0.000000,0.000000,0.000000,0.000000,1.000000,3.000000,7.0,60426.675
37141,143023,1,Cash loans,M,Y,N,0,180000.0,521280.0,31630.5,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,5.0,27321.390
112279,230249,0,Cash loans,F,Y,Y,0,202500.0,1061599.5,31171.5,...,0,0,0.007174,0.006364,0.032631,0.267646,0.260819,1.906387,4.0,67983.435
95503,210882,1,Cash loans,M,Y,Y,0,315000.0,814041.0,26257.5,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,3.0,89531.730
235315,372569,0,Cash loans,F,N,N,0,31500.0,45000.0,4450.5,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,2.0,16027.200
109227,226678,1,Cash loans,M,N,N,1,135000.0,333000.0,16195.5,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.0,10169.910
304089,452317,0,Cash loans,M,N,N,1,153000.0,614223.0,22891.5,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000
37970,143979,0,Revolving loans,M,N,N,0,67500.0,202500.0,10125.0,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,5.0,47090.700

In [45]:
filename = 'data/bureau.csv'
bureau_df = pd.read_csv(filename)
active_bureau_df = bureau_df[bureau_df['CREDIT_ACTIVE']=='Active']
active_bureau_df

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.00,171342.000,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.50,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.00,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.00,NaN,NaN,0.0,Consumer credit,-21,NaN
5,215354,5714467,Active,currency 1,-273,0,27460.0,NaN,0.0,0,180000.00,71017.380,108982.620,0.0,Credit card,-31,NaN
6,215354,5714468,Active,currency 1,-43,0,79.0,NaN,0.0,0,42103.80,42103.800,0.000,0.0,Consumer credit,-22,NaN
9,162297,5714471,Active,currency 1,-1146,0,-484.0,NaN,0.0,0,4500.00,0.000,0.000,0.0,Credit card,-690,NaN
10,162297,5714472,Active,currency 1,-1146,0,-180.0,NaN,0.0,0,337500.00,0.000,0.000,0.0,Credit card,-690,NaN
12,162297,5714474,Active,currency 1,-277,0,5261.0,NaN,0.0,0,7033500.00,NaN,NaN,0.0,Mortgage,-31,NaN
13,402440,5714475,Active,currency 1,-96,0,269.0,NaN,0.0,0,89910.00,76905.000,0.000,0.0,Consumer credit,-22,NaN
17,238881,5714486,Active,currency 1,-381,0,NaN,NaN,NaN,0,450000.00,520920.000,NaN,0.0,Consumer credit,-4,NaN
18,238881,5714487,Active,currency 1,-95,0,1720.0,NaN,NaN,0,67500.00,8131.500,NaN,0.0,Credit card,-7,NaN
20,238881,5714489,Active,currency 1,-392,0,NaN,NaN,0.0,0,252000.00,23679.000,228320.100,0.0,Credit card,-22,NaN
21,222183,5714491,Active,currency 1,-784,0,1008.0,NaN,0.0,0,0.00,-411.615,411.615,0.0,Credit card,-694,NaN
22,222183,5714492,Active,currency 1,-774,0,625.0,NaN,NaN,0,127840.50,0.000,0.000,0.0,Credit card,-210,NaN
23,222183,5714493,Active,currency 1,-395,0,1431.0,NaN,NaN,0,1350000.00,1185493.500,0.000,0.0,Consumer credit,-24,NaN
26,222183,5714497,Active,currency 1,-315,0,1512.0,NaN,88821.0,0,3709552.50,NaN,NaN,0.0,Car loan,-32,NaN
31,136226,5714502,Active,currency 1,-521,0,551.0,NaN,NaN,0,112500.00,0.000,0.000,0.0,Credit card,-30,NaN
34,400486,5714506,Active,currency 1,-941,0,-17.0,NaN,NaN,0,40500.00,0.000,0.000,0.0,Credit card,-15,NaN
37,400486,5714509,Active,currency 1,-391,0,705.0,NaN,NaN,0,142290.00,108315.000,0.000,0.0,Consumer credit,-30,NaN
43,435112,5714518,Active,currency 1,-1483,0,NaN,NaN,NaN,0,200250.00,0.000,NaN,0.0,Credit card,-848,NaN
47,435112,5714522,Active,currency 1,-508,0,1318.0,NaN,0.0,0,1058823.54,858768.570,0.000,0.0,Consumer credit,-7,NaN
48,435112,5714523,Active,currency 1,-416,0,680.0,NaN,0.0,0,256500.00,183528.000,0.000,0.0,Consumer credit,-43,NaN
50,452585,5714525,Active,currency 1,-2538,0,-1427.0,NaN,0.0,0,45000.00,0.000,0.000,0.0,Credit card,-682,NaN
51,452585,5714527,Active,currency 1,-42,0,-26.0,NaN,NaN,0,45000.00,54000.000,0.000,0.0,Consumer credit,-31,NaN
57,389599,5714533,Active,currency 1,-831,0,277.0,NaN,NaN,0,270000.00,274225.500,0.000,0.0,Credit card,-10,NaN
58,389599,5714534,Active,currency 1,-329,0,1497.0,NaN,NaN,0,589500.00,521478.000,0.000,0.0,Consumer credit,-8,NaN
65,242993,5714543,Active,currency 1,-2237,0,-1868.0,NaN,NaN,0,135000.00,NaN,NaN,0.0,Consumer credit,-1874,NaN
71,242993,5714550,Active,currency 1,-382,0,1464.0,NaN,NaN,0,58500.00,59809.500,NaN,0.0,Credit card,-341,NaN
75,303740,5714554,Active,currency 1,-581,0,NaN,NaN,0.0,0,384750.00,263056.500,121690.170,0.0,Credit card,-22,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716324,104893,5055269,Active,currency 1,-51,0,NaN,NaN,0.0,0,103500.00,92882.250,10617.750,0.0,Credit card,-13,NaN
1716326,229234,5055272,Active,currency 1,-696,0,-331.0,NaN,NaN,0,675000.00,292725.000,0.000,0.0,Consumer credit,-431,NaN
1716329,431379,5055287,Active,currency 1,-459,0,271.0,NaN,NaN,0,328500.00,162378.000,0.000,0.0,Consumer credit,-5,NaN
1716330,122926,5055298,Active,currency 1,-662,0,433.0,NaN,0.0,0,1575000.00,830860.875,0.000,0.0,Consumer credit,-18,NaN
1716331,266700,5055317,Active,currency 1,-1863,0,685.0,NaN,NaN,0,180000.00,135441.000,0.000,0.0,Credit card,-33,NaN
1716332,318487,5055325,Active,currency 1,-662,0,624.0,NaN,NaN,0,67500.00,0.000,0.000,0.0,Credit card,-36,NaN
1716341,184857,5055391,Active,currency 1,-751,0,350.0,NaN,NaN,0,396000.00,0.000,0.000,0.0,Credit card,-260,NaN
1716351,169747,5055520,Active,currency 1,-307,0,NaN,NaN,0.0,0,112500.00,0.000,112500.000,0.0,Credit card,-24,NaN
1716359,366785,5055579,Active,currency 1,-221,0,31090.0,NaN,NaN,0,45000.00,22941.000,NaN,0.0,Credit card,-221,NaN
1716361,345281,5055592,Active,currency 1,-307,0,424.0,NaN,NaN,0,284400.00,5454.000,0.000,0.0,Consumer credit,-16,NaN
1716363,218015,5057205,Active,currency 1,-125,0,1057.0,NaN,NaN,0,180000.00,0.000,0.000,0.0,Credit card,-38,NaN
1716364,167522,5057214,Active,currency 1,-895,0,241.0,NaN,NaN,0,180000.00,178339.500,0.000,0.0,Credit card,-8,NaN
1716366,174236,5057232,Active,currency 1,-576,0,1148.0,NaN,0.0,0,0.00,0.000,0.000,0.0,Credit card,-575,NaN
1716367,174236,5057234,Active,currency 1,-559,0,1269.0,NaN,0.0,0,225000.00,0.000,0.000,0.0,Credit card,-559,NaN
1716373,207024,5057311,Active,currency 1,-497,0,1330.0,NaN,0.0,0,135000.00,0.000,0.000,0.0,Credit card,-497,NaN
1716378,182248,5057361,Active,currency 1,-895,0,203.0,NaN,NaN,0,180000.00,146502.000,0.000,0.0,Credit card,-49,NaN
1716379,250798,5057380,Active,currency 1,-471,0,31129.0,NaN,NaN,0,135000.00,6588.000,NaN,0.0,Credit card,-432,NaN
1716383,195589,5057399,Active,currency 1,-679,0,416.0,NaN,0.0,0,337500.00,0.000,337500.000,0.0,Credit card,-218,NaN
1716384,195589,5057408,Active,currency 1,-195,0,NaN,NaN,NaN,0,90000.00,NaN,NaN,0.0,Credit card,-5,NaN
1716389,410531,5057463,Active,currency 1,-365,0,0.0,NaN,NaN,0,721863.00,69673.500,0.000,0.0,Consumer credit,-28,NaN
1716390,410531,5057465,Active,currency 1,-259,0,1087.0,NaN,NaN,0,675000.00,652567.500,0.000,0.0,Credit card,-11,NaN
1716395,181001,5057523,Active,currency 1,-112,0,1056.0,NaN,NaN,0,418500.00,0.000,0.000,0.0,Credit card,-39,NaN
1716399,232638,5057553,Active,currency 1,-613,0,721.0,NaN,NaN,0,972000.00,886297.500,0.000,0.0,Credit card,-42,NaN
1716400,318662,5057561,Active,currency 1,-815,0,1011.0,NaN,NaN,0,147150.00,105358.500,0.000,0.0,Consumer credit,-70,NaN
1716403,361928,5057589,Active,currency 1,-765,0,1061.0,NaN,NaN,0,1431000.00,1092226.500,0.000,0.0,Consumer credit,-126,NaN
1716404,166279,5057599,Active,currency 1,-99,0,997.0,NaN,0.0,0,450000.00,432787.500,0.000,0.0,Consumer credit,-7,NaN
1716410,280228,5057642,Active,currency 1,-575,0,813.0,NaN,NaN,0,67500.00,0.000,0.000,0.0,Credit card,-46,NaN
1716412,288038,5057657,Active,currency 1,-541,0,7.0,NaN,NaN,0,225000.00,10971.000,0.000,0.0,Consumer credit,-11,NaN
1716417,433007,5057703,Active,currency 1,-740,0,31128.0,NaN,NaN,0,67500.00,2466.000,NaN,0.0,Credit card,-433,NaN
1716423,259355,5057750,Active,currency 1,-44,0,-30.0,NaN,0.0,0,11250.00,11250.000,0.000,0.0,Microloan,-19,NaN

In [46]:
active_bureau_agg = active_bureau_df.groupby('SK_ID_CURR')
active_bureau_agg_df = active_bureau_agg.agg({'AMT_CREDIT_SUM_DEBT': 'sum', 'CNT_CREDIT_PROLONG': 'sum'})
active_bureau_agg_df

            AMT_CREDIT_SUM_DEBT  CNT_CREDIT_PROLONG
SK_ID_CURR
100001               596686.500                   0
100002               245781.000                   0
100003                    0.000                   0
100005               568408.500                   0
100008               240057.000                   0
100009              1077349.500                   0
100010               348007.500                   0
100014               758214.000                   0
100016                63724.500                   0
100019               245470.140                   0
100020               123088.500                   0
100022               205276.500                   0
100023               112324.500                   0
100025              1886544.000                   0
100026              3477814.380                   0
100027               376713.000                   0
100028               186304.500                   0
100029              3682287.000                   0
100030               451642.500                   0
100031                    0.000                   0
100032                    0.000                   0
100033                    0.000                   0
100035              2054371.500                   0
100036                 8339.355                   0
100037                    0.000                   0
100039              2438748.000                   0
100041                    0.000                   0
100042              3074162.895                   0
100044              1147764.600                   0
100045                89351.460                   0
...                         ...                 ...
456218              1449505.845                   0
456219                    0.000                   0
456220               470140.065                   2
456221               556470.000                   0
456223                21343.500                   0
456224               787678.560                   0
456225              2797449.840                   0
456226                51012.000                   0
456227               156951.000                   0
456229                    0.000                   1
456230               278523.000                   0
456231               563112.000                   0
456232               517342.500                   0
456233               223943.895                   0
456234                17164.215                   0
456235              1160037.000                   0
456236              3094557.750                   0
456238               625351.500                   0
456239              1904764.500                   0
456240                39872.250                   0
456241                    0.000                   0
456242               186097.500                   0
456243              1247454.000                   0
456244               611645.355                   0
456246                    0.000                   0
456247              2193390.000                   0
456249               163071.000                   0
456250              2232040.095                   0
456253              1795833.000                   0
456255              1534913.010                   0

[251815 rows x 2 columns]

In [47]:
df = curr_prev_df.join(active_bureau_agg_df, on='SK_ID_CURR', how='left')
df[['AMT_CREDIT_SUM_DEBT', 'CNT_CREDIT_PROLONG']] = df[['AMT_CREDIT_SUM_DEBT', 'CNT_CREDIT_PROLONG']].fillna(value=0)
print(df.shape[0])
df.shape

10000

(10000, 126)

In [48]:
df

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,PREV_APPS,PREV_AMT_ANNUITY,AMT_CREDIT_SUM_DEBT,CNT_CREDIT_PROLONG
223674,359072,0,Cash loans,F,N,Y,0,54000.0,112500.0,4765.5,...,0.007174,0.006364,0.032631,0.267646,0.260819,1.906387,2.0,6983.730,0.000000e+00,0.0
297040,444140,0,Cash loans,F,N,N,0,166500.0,450000.0,16965.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,13280.625,1.140750e+04,0.0
263861,405519,0,Cash loans,F,N,Y,1,122400.0,545040.0,20677.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,16040.925,0.000000e+00,0.0
203732,336191,0,Cash loans,F,Y,Y,0,675000.0,722394.0,19183.5,...,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,6.0,58086.045,3.279884e+06,0.0
70375,181638,0,Cash loans,F,N,N,0,153000.0,270000.0,10309.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.0,6976.620,4.820445e+05,0.0
276534,420462,0,Cash loans,F,N,Y,2,108000.0,253737.0,27454.5,...,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000,4.0,30311.100,1.551353e+07,0.0
30042,134875,0,Cash loans,F,N,Y,0,112500.0,1312110.0,55723.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.0,8119.305,0.000000e+00,0.0
229967,366362,0,Cash loans,F,N,Y,0,36000.0,54000.0,5859.0,...,0.007174,0.006364,0.032631,0.267646,0.260819,1.906387,2.0,9328.140,0.000000e+00,0.0
15375,117945,1,Cash loans,F,N,Y,0,112500.0,840951.0,33480.0,...,0.007174,0.006364,0.032631,0.267646,0.260819,1.906387,4.0,56738.160,0.000000e+00,0.0
239325,377170,0,Revolving loans,F,Y,Y,2,135000.0,450000.0,22500.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,4.0,31542.885,5.989950e+04,0.0
19286,122500,0,Cash loans,M,N,Y,0,130500.0,1075500.0,29704.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000,0.000000e+00,0.0
143334,266207,0,Cash loans,M,Y,Y,0,126000.0,481320.0,13365.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,5563.215,0.000000e+00,0.0
15182,117727,1,Cash loans,F,Y,Y,0,112500.0,521280.0,35392.5,...,0.007174,0.006364,0.032631,0.267646,0.260819,1.906387,5.0,32381.415,0.000000e+00,0.0
106198,223216,0,Cash loans,F,N,N,1,72000.0,852088.5,38632.5,...,0.007174,0.006364,0.032631,0.267646,0.260819,1.906387,12.0,51043.815,0.000000e+00,0.0
303365,451480,0,Cash loans,M,N,Y,0,157500.0,254700.0,24939.0,...,0.007174,0.006364,0.032631,0.267646,0.260819,1.906387,4.0,68020.110,0.000000e+00,0.0
90879,205514,1,Revolving loans,F,N,N,0,121500.0,180000.0,9000.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000,4.349880e+05,0.0
216536,350903,0,Cash loans,F,Y,Y,0,99000.0,1056447.0,31018.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,19.0,453038.490,4.029787e+05,0.0
45292,152463,0,Cash loans,F,N,N,1,148500.0,1190340.0,66465.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.0,64941.165,0.000000e+00,0.0
16761,119547,0,Cash loans,F,N,Y,1,126000.0,582768.0,46174.5,...,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,3.0,31501.710,8.744220e+05,0.0
84566,198109,0,Cash loans,F,N,N,1,180000.0,808650.0,24732.0,...,0.007174,0.006364,0.032631,0.267646,0.260819,1.906387,7.0,40111.200,0.000000e+00,0.0
85660,199402,0,Cash loans,M,N,N,0,225000.0,1093068.0,32089.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2.0,22422.465,7.367381e+05,0.0
205541,338255,0,Revolving loans,F,N,Y,0,135000.0,180000.0,9000.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,36158.310,7.922205e+05,0.0
119426,238491,0,Cash loans,F,N,Y,1,126000.0,107820.0,8190.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.0,10840.500,4.477680e+05,0.0
32142,137267,0,Cash loans,M,N,N,0,58500.0,67500.0,7087.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,9.0,94856.130,2.283750e+04,0.0
289462,435348,0,Revolving loans,M,Y,N,3,171000.0,495000.0,24750.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,7.0,37657.440,5.245031e+05,0.0
178308,306621,0,Cash loans,F,Y,N,1,202500.0,315000.0,14683.5,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.0,11681.325,0.000000e+00,0.0
301646,449454,0,Cash loans,F,Y,Y,0,135000.0,312768.0,16096.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2.0,3546.135,5.783625e+05,0.0
138151,260211,0,Cash loans,F,Y,Y,0,225000.0,500211.0,27931.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,11995.425,3.027704e+06,0.0
201706,333818,0,Cash loans,F,N,Y,0,99000.0,755190.0,33394.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000,0.000000e+00,0.0
300041,447593,0,Cash loans,F,N,Y,0,135000.0,1152000.0,31680.0,...,0.007174,0.006364,0.032631,0.267646,0.260819,1.906387,0.0,0.000,0.000000e+00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131453,252459,0,Cash loans,M,Y,N,0,135000.0,1078200.0,31653.0,...,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,1.0,25979.085,0.000000e+00,0.0
263989,405703,0,Cash loans,M,Y,Y,0,225000.0,545040.0,35617.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.0,12304.575,2.796700e+06,0.0
18994,122151,1,Cash loans,M,N,N,0,81000.0,545040.0,16654.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000,0.000000e+00,0.0
235284,372537,0,Cash loans,F,N,N,2,180000.0,1575000.0,43443.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,8551.530,6.861537e+06,0.0
141766,264374,0,Cash loans,F,N,Y,0,52200.0,700830.0,20619.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,3.0,12755.610,3.026115e+05,0.0
73991,185802,0,Cash loans,F,N,Y,0,135000.0,472500.0,13815.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,3.0,70212.825,7.506000e+05,0.0
794,100908,0,Cash loans,F,N,Y,0,225000.0,781920.0,28215.0,...,0.000000,0.000000,0.000000,0.000000,1.000000,4.000000,8.0,218297.475,0.000000e+00,0.0
51124,159198,0,Cash loans,F,Y,Y,0,81000.0,314100.0,13963.5,...,0.007174,0.006364,0.032631,0.267646,0.260819,1.906387,1.0,13801.410,0.000000e+00,0.0
197544,329035,1,Cash loans,M,Y,Y,0,135000.0,640080.0,31261.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,4.0,91149.705,1.008233e+06,0.0
249989,389246,0,Cash loans,F,N,Y,2,270000.0,1886850.0,52015.5,...,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,1.0,7414.470,5.221890e+05,0.0
168803,295660,0,Cash loans,F,N,N,0,76500.0,437818.5,25263.0,...,0.007174,0.006364,0.032631,0.267646,0.260819,1.906387,2.0,6275.205,0.000000e+00,0.0
43741,150638,0,Cash loans,F,N,N,2,67500.0,607500.0,16155.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000,0.000000e+00,0.0
71314,182705,0,Cash loans,M,Y,N,0,135000.0,284400.0,16326.0,...,0.007174,0.006364,0.032631,0.267646,0.260819,1.906387,3.0,61057.890,0.000000e+00,0.0
140758,263207,0,Cash loans,F,N,Y,0,247500.0,388066.5,30789.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,4.0,39008.745,4.194900e+04,0.0
133990,255399,0,Revolving loans,F,N,Y,0,112500.0,180000.0,9000.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0,16871.085,1.035310e+06,0.0
276783,420754,1,Cash loans,M,N,Y,0,202500.0,490495.5,47911.5,...,0.007174,0.006364,0.032631,0.267646,0.260819,1.906387,1.0,36589.635,0.000000e+00,0.0
279489,423807,0,Cash loans,M,Y,Y,0,157500.0,414792.0,21307.5,...,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,7.0,61965.000,2.007319e+06,0.0
173608,301187,0,Cash loans,F,N,N,1,427500.0,450000.0,47254.5,...,0.007174,0.006364,0.032631,0.267646,0.260819,1.906387,1.0,3899.025,0.000000e+00,0.0
276285,420144,0,Cash loans,F,N,Y,1,121500.0,327024.0,11875.5,...,0.000000,0.000000,0.000000,0.000000,1.000000,5.000000,3.0,5823.765,4.225500e+03,0.0
45739,152988,0,Cash loans,F,N,Y,0,216000.0,942300.0,30528.0,...,0.000000,0.000000,0.000000,2.000000,0.000000,1.000000,2.0,3622.635,8.518500e+03,0.0
7471,108712,0,Cash loans,F,N,N,0,180000.0,381528.0,20263.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,5.0,29148.660,1.736550e+04,0.0
191489,322036,0,Cash loans,F,N,Y,0,100350.0,339241.5,12312.0,...,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000,6.0,70508.160,0.000000e+00,0.0
167288,293924,0,Cash loans,F,Y,Y,0,166500.0,521280.0,31630.5,...,0.000000,0.000000,0.000000,0.000000,1.000000,3.000000,7.0,60426.675,4.483563e+05,0.0
37141,143023,1,Cash loans,M,Y,N,0,180000.0,521280.0,31630.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,5.0,27321.390,1.074015e+05,0.0
112279,230249,0,Cash loans,F,Y,Y,0,202500.0,1061599.5,31171.5,...,0.007174,0.006364,0.032631,0.267646,0.260819,1.906387,4.0,67983.435,0.000000e+00,0.0
95503,210882,1,Cash loans,M,Y,Y,0,315000.0,814041.0,26257.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,3.0,89531.730,6.412230e+05,0.0
235315,372569,0,Cash loans,F,N,N,0,31500.0,45000.0,4450.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,2.0,16027.200,2.981700e+04,0.0
109227,226678,1,Cash loans,M,N,N,1,135000.0,333000.0,16195.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.0,10169.910,2.070472e+06,0.0
304089,452317,0,Cash loans,M,N,N,1,153000.0,614223.0,22891.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000,0.000000e+00,0.0
37970,143979,0,Revolving loans,M,N,N,0,67500.0,202500.0,10125.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,5.0,47090.700,1.143315e+05,0.0

In [49]:
import pickle
from sklearn.externals import joblib

joblib.dump(model, 'model')
joblib.dump(scaler, 'scaler')
joblib.dump(vectorizer, 'vectorizer')

model = joblib.load('model')
scaler = joblib.load('scaler')
vectorizer = joblib.load('vectorizer')